<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

    <bean id="Student" class="org.example.Student" >
        <property name="name" value="Timothy" />
        <property name="id" value="42" />
        <property name="address" ref="Address" />
    </bean>

    <bean id="Address" class="org.example.Address">
        <property name="city" value="Austin" />
        <property name="state" value="TX" />
        <property name="country" value="USA" />
        <property name="zip" value="12345" />
    </bean>

</beans>