<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

    <bean id="Student" class="org.example.Student" >
        <property name="name" value="Timothy" />
        <property name="id" value="42" />
        <property name="address" ref="Address" />
        <property name="ph" >
            <list>
                <ref bean="Phone1" />
                <ref bean="Phone2" />
                <ref bean="Phone3" />
            </list>
        </property>
    </bean>

    <bean id="Address" class="org.example.Address">
        <constructor-arg index="0" value="Austin" />
        <constructor-arg index="1" value="TX" />
        <constructor-arg index="2" value="USA" />
        <constructor-arg index="3" value="12345" />
    </bean>

    <bean id="Phone1" class="org.example.Phone" >
        <constructor-arg index="0" value="(748)485-9859" />
    </bean>
    <bean id="Phone2" class="org.example.Phone" >
        <constructor-arg index="0" value="(848)485-9859" />
    </bean>
    <bean id="Phone3" class="org.example.Phone" >
        <constructor-arg index="0" value="(948)485-9859" />
    </bean>

</beans>